@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --n-0: #ffffff;
    --n-10: #f4f4f5;
    --n-20: #e9e9ea;
    --n-30: #d3d4d5;
    --n-40: #bdbec0;
    --n-50: #a7a9ab;
    --n-60: #6b6c71;
    --n-70: #66686d;
    --n-80: #505258;
    --n-90: #3a3d43;
    --n-100: #24272e;
  }
}
