@use "sass:map";

//Breakpoint-mixin
$breakpoints: (
  xs: 480px,
  xsm: 576px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280,
  2xl: 1536px,
);

@mixin mq($width, $type: min) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
